.filters {
    background-color: green;
    height: 50px;
    width: 1000px;
    align-items: center;
    display:flex;
    justify-content: flex;
    padding: 10px 138px;
    position: relative;
  }
  .filters > div {
    height: 100%;
    width: 25%;
  }
  
  .filters > div > h3 {
    margin-left: 10px;
  }
  
  .filters > div > h4 {
    margin-left: 50px;
  }
  .about {
    text-decoration: none;
    color: black;
    margin-left: 80px;
    font-weight: bold;
  }
  .about:hover {
   background-color:rgba(255, 230, 0, 0.945);
   padding-top: 26px;
   padding-bottom: 26px;
  
  }
  .services {
    text-decoration: none;
    color: black;
    margin-left: 80px;
    font-weight: bold;
  }
  .services:hover {
    background-color:rgba(255, 230, 0, 0.945);
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .home {
    text-decoration: none;
    color: black;
    margin-left: 180px;
    font-weight: bold;

  }
  .home:hover {
    background-color:rgba(255, 230, 0, 0.945);
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .products {
    text-decoration: none;
    color: black;
    margin-left: 100px;
    font-weight: bold;
  }
  .products:hover {
    background-color:rgba(255, 230, 0, 0.945);
    padding-top: 26px;
    padding-bottom: 26px;
  }
