<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Farmplus</title>
    <link rel="stylesheet" href="/static/0-farm.css">
    <link rel="stylesheet" href="/static/header.css" />
    <link rel="stylesheet" href="/static/farm-filters.css" />
    <link rel="stylesheet" href="/static/footer.css" />
    <link rel="icon" type="image/png" href="/images/icon.png">


    <!-- jQUERY -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <header>
        <div class="header-content-right">
            <a href="https://www.linkedln.com/ben"><img src="/images/linkedln.png" class="icon-style"
                    alt="Linkedln icon"></a>
            <a href="https://www.facebook.com/farmplus"><img src="/images/facebook.png" class="icon-style"
                    alt="facebook icon"></a>
            <a href="https://www.twitter.com/benson2023"><img src="/images/twitter.png" class="icon-style"
                    alt="Twitter icon"></a>
        </div>
        <nav>
            <a class="title">FARMPLUS</a>
        </nav>
        <div class="logo"> </div>
        <div id="bux">
            <button onclick="window.location.href='test.html'" class="login">Login</button>
        </div>
    </header>
    <div class="container">
        <section class="filters">
            <nav am-layout="horizontal">
                <a href="home.html" class="home">HOME</a>
                <a href="about.html" class="about">ABOUT</a>
                <a href="service.html" class="services">SERVICES</a>
                <a href="product.html" class="products">PRODUCTS</a>
            </nav>
        </section>
    </div>

    <!-- Image-1 Start -->
    <div class="container-1">
        <img class="w-100" src="/images/home-1.png" alt="Image">
        <h1 class="display-1">Organic Food For Healthy Life</h1>
    </div>

    <!-- Image-1 End -->

    <!--  Image-2 Start -->
    <div class="container-2">

        <img class="w-300" src="/images/product-1.png" alt="Image">
        <img class="w-200" src="/images/product-2.png" alt="Image">
        <h1 class="display">Healthy organic fruits and vegetables</h1>
    </div>
    <!-- Image-2 End -->

    

    <!-- Products Start -->
    <div class="container-6">
        <div class="row_a">
            <div class="col_a">
                <div class="mb_a">
                    <h6 class="text_a">Products</h6>
                    <h1 class="display_a">Organic Farm Products</h1>
                </div>
                <a href="" class="btn btn-primary py-md-3 px-md-5">Make an order</a>
            </div>
            <div class="col_b">
                <div class="service_a">
                    <img class="img" src="/images/eggs.png">
                    <h4>Organic Eggs</h4>
                </div>
            </div>
            <div class="col_b">
                <div class="service_b">
                    <img class="img" src="/images/chicken.png">
                    <h4>Organic Chickens</h4>
                </div>
            </div>
            <div class="col_b">
                <div class="service_c">
                    <img class="img" src="/images/fertiliser.png">
                    <h4>Organic Fertiliser</h4>
                </div>
                    <div class="service_d">
                        <img class="img" src="/images/vegetable.png">
                        <h4>Organic Vegetables and Fruits</h4>
                    </div>
                    <div class="col_e">
                        <div class="service_e">
                            <img class="img" src="/images/goat-milk.png">
                            <h4>Organic Goat Milk</h4>
                        </div>
                    </div>
                </div>
                <!-- Products End -->

                <!-- Footer Start -->
                <footer>
                    <div class="name">Copyright © 2023 Farmplus</div>
                </footer>
                <!-- Footer End -->

</body>

</html>
