<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Farmplus</title>
    <link rel="stylesheet" href="/static/0-farm.css">
    <link rel="stylesheet" href="/static/header.css" />
    <link rel="stylesheet" href="/static/farm-filters.css" />
    <link rel="stylesheet" href="/static/footer.css" />
    <link rel="icon" type="image/png" href="static/images/icon.png">
</head>

<body>
    <header>
        <div class="header-content-right">
            <a href="https://www.linkedln.com/ben"><img src="static/images/linkedln.png" class="icon-style"
                    alt="Linkedln icon"></a>
            <a href="https://www.facebook.com/farmplus"><img src="static/images/facebook.png" class="icon-style"
                    alt="facebook icon"></a>
            <a href="https://www.twitter.com/benson2023"><img src="static/images/twitter.png" class="icon-style"
                    alt="Twitter icon"></a>
        </div>
        <nav>
            <a class="title">FARMPLUS</a>
        </nav>
        <div class="logo"> </div>
        <div id="bux">
            <button onclick="window.location.href='/redirect'" class="login">Login</button>
        </div>
    </header>
    <div class="container">
        <section class="filters">
            <nav am-layout="horizontal">
                <a href="/" class="home">HOME</a>
                <a href="/direct_1" class="about">ABOUT</a>
                <a href="/direct_3" class="services">SERVICES</a>
                <a href="/direct_2" class="products">PRODUCTS</a>
            </nav>
        </section>
    </div>
<!-- Image-1 Start -->
    <div class="container-1">
        <img class="w-100" src="static/images/home-1.png" alt="Image">
        <h1 class="display-1">Organic Food For Healthy Life</h1>
    </div>

    <!-- Image-1 End -->
   <!-- Products Start -->
            <div class="navbar">
        <h2> Organic Products</h2>
        <button onclick="window.location.href='/direct'" class="order">Place an order</button>

        </div>

        <div class="products-organic">
                <div class="item">
                    <img width="200" height="200" src="/static/images/avocado.png" alt="">
                <div class="details">
                <h3>avocado</h3>
                <div class="price">
                        <h3>Kes 325 per kg</h3>
                    </div>
                </div>
                </div>
                <div class="item">
                    <img width="200" height="200" src="/static/images/ginger.png" alt="">
                    <div class="details">
                        <h3> ginger</h3>
                        <div class="price">
                        <h3>Kes 67 per kg</h3>
                    </div>
                        </div>
                </div>
                <div class="item">
                    <img width="200" height="200" src="/static/images/pumpkin.png" alt="">
                    <div class="details">
                        <h3> pumpkin</h3>
                        <div class="price">
                        <h3>Kes 103 per kg</h3>
                    </div>
		     </div>
                </div>
                <div class="item">
                    <img width="200" height="200" src="/static/images/capsicum.png" alt="">
                    <div class="details">
                        <h3>capsicum</h3>
                        <div class="price">
                        <h3>Kes 75 per kg</h3>
                    </div>
                        </div>
                </div>
        </div>
          </div>
                <!-- Products End -->

                <!-- Footer Start -->
                <footer>
                    <div class="name">Copyright © 2023 Farmplus</div>
                </footer>
                <!-- Footer End -->

</body>

</html>

                                
