<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Farmplus</title>
    <link rel="stylesheet" href="/static/0-farm.css">
    <link rel="stylesheet" href="/static/header.css" />
    <link rel="stylesheet" href="/static/farm-filters.css" />
    <link rel="stylesheet" href="/static/footer.css" />
    <link rel="icon" type="image/png" href="static/images/icon.png">
</head>

<body>
    <header>
        <div class="header-content-right">
            <a href="https://www.linkedln.com/ben"><img src="static/images/linkedln.png" class="icon-style"
                    alt="Linkedln icon"></a>
            <a href="https://www.facebook.com/farmplus"><img src="static/images/facebook.png" class="icon-style"
                    alt="facebook icon"></a>
            <a href="https://www.twitter.com/benson2023"><img src="static/images/twitter.png" class="icon-style"
                    alt="Twitter icon"></a>
        </div>
        <nav>
            <a class="title">FARMPLUS</a>
        </nav>
        <div class="logo"> </div>
        <div id="bux">
            <button onclick="window.location.href='/redirect'" class="login">Login</button>
        </div>
    </header>
    <div class="container">
        <section class="filters">
            <nav am-layout="horizontal">
                <a href="/" class="home">HOME</a>
                <a href="/direct_1" class="about">ABOUT</a>
                <a href="/direct_3" class="services">SERVICES</a>
                <a href="/direct_2" class="products">PRODUCTS</a>
            </nav>
        </section>
    </div>

    <!-- Image-1 Start -->
    <div class="container-1">
        <img class="w-100" src="static/images/home-1.png" alt="Image">
        <h1 class="display-1">Organic Food For Healthy Life</h1>
    </div>

    <!-- Image-1 End -->

    <!--  Image-2 Start -->
    <div class="container-2">

        <img class="w-300" src="static/images/product-1.png" alt="Image">
        <img class="w-200" src="static/images/product-2.png" alt="Image">
        <h1 class="display">Healthy organic fruits and vegetables</h1>
    </div>
    <!-- Image-2 End -->

    <!-- Services Start -->
    <div class="container-5">
        <div class="row-a">
            <div class="col-a">
                <div class="mb-a">
                    <h6 class="text-a">Services</h6>
                    <h1 class="display-a">Organic Farm Services</h1>
                </div>
                <p class="mb-b">Tempor erat elitr at rebum at at clita</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5">Contact Us</a>
            </div>
            <div class="col-b">
                <div class="service-a">
                    <img class="img" src="static/images/vet.png">
                    <h4>Veterinary Services</h4>
                </div>
            </div>
            <div class="col-b">
                <div class="service-b">
                    <img class="img" src="static/images/drone.png">
                    <h4>Agiculture Drones</h4>
                </div>
            </div>
            <div class="col-c">
                <div class="service-c">
                    <img class="img" src="static/images/aqua.png">
                    <h4>Aquaponics Experts</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

                <!-- Footer Start -->
                <footer>
                    <div class="name">Copyright © 2023 Farmplus</div>
                </footer>
                <!-- Footer End -->

</body>

</html>
