<!DOCTYPE html>
        <!-- Login form for Farmplus application -->
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Login Form </title>
          <link rel="stylesheet" href="/static/1-farm.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        </head>
        <body>
                <div class="wrapper">
                <header>Signup</header>
               <form action="/signup" method="POST" id="form">
                       <div class="field email">
                        <div class="input-area">
               <label for="username">Username:</label>
                <input type="text" id="username" name="username">
                <i class="icon fas fa-user"></i>
                <br>
                        </div>
                       </div>
                       <div class="field password">
                        <div class="input-area">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <i class="icon fas fa-lock"></i>
                <br>
                </div>
                       </div>
                  <input type="submit" value="Signup">
                </form>
    <p>Already have an account? <a href="/login">Login</a></p>
          </div>
        </body>
</html>

