{% extends "base.html" %} 
 {% block title %}Login{% endblock %}
 {% block content %}
<!DOCTYPE html>
        <!-- Login form for Farmplus application -->
        <html lang="en">
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Login Form </title>
          <link rel="stylesheet" href="/static/1-farm.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        </head>
        <body>
                <div class="wrapper">
                <header>Login</header>
               <form action="/login" method="POST" id="form">
                       <div class="field username">
                        <div class="input-area">
               <label for="email">Email Address</label>
                <input 
		type="email" 
		id="email" 
		name="email"
		placeholder="Enter email"/>
                <i class="icon fas fa-user"></i>
                <br>
                        </div>
                       </div>
                       <div class="field password">
                        <div class="input-area">
                <label for="password">Password:</label>
                <input 
		type="password" 
		id="password1" 
		name="password1"
		placeholder="Enter password"/>
                <i class="icon fas fa-lock"></i>
                <br>
                </div>
                       </div>
                  <input type="submit" value="Login">
                </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
          </div>
        </body>
</html>

{% endblock %}
